@media only screen and (max-width: 950px) {
    
    .container{
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
    
        grid-template-areas: 
        "celeste"
        "negro"
        "blanco"
        ;
    }

    .infoPersonal{
        grid-template-columns: 1fr;
        grid-template-areas:
        "foto"
        "nombre"
        "info"
        ;
        &__nombre{
            margin-left: 0;
            font-size: 20px;
            justify-content: center;
            margin-bottom: 10px;
        }
        &__fotoPerfil{
            width: 100%;
            margin-bottom: 10px;
        }
        &__datosImportantes{
            justify-content: center;
            margin: 0 0 20px 0;
            
            ul{
                font-size: 15px;
            }
        }
    }

    .skills{
        text-align: center;
        &__habilidades{
            margin-left: 0;
            h2{
                font-size: 20px;
            }
            ul{ 
                font-size: 18px;
    
            }
        }
        &__idiomas{
            margin-left: 0;
            margin-bottom: 30px;
            h2{
                font-size: 20px;
            }
            p{
                font-size: 18px;
                span{
                    font-size: 16px;
                }
            }
        }
    }

    .infoPrincipal{
        &__perfil{
            margin-left: 0;
            h2{
                text-align: center;
                font-size: 20px;
                padding: 0;
                width: auto;
            }
            h2::before{
                content: "";
                bottom: 8px;
                height: 7px;
            }
            p{
                text-align: center;
                font-size: 16px;
                margin: 0 30px 0 30px;
            }
        }
        &__formacionAcademica{
            h2{
                text-align: center;
                font-size: 20px;
                padding: 0;
                width: auto;
                margin-bottom: 20px;
            }
            h2::before{
                content: "";
                bottom: 8px;
                height: 7px;
            }
            ul{
                font-size: 15px;
                margin-left: 0;
                li{
                    text-align: center;
                    grid-template-areas: 
                    "carrera"
                    "lugar"
                    "tiempo"
                    ;
                    margin-bottom: 20px;
                    .tiempoEstudio{
                        font-size: 14px;
                        margin: 0 ;
                    }
                    .lugarEstudio{
                        font-size: 15px;
                    }
                }
            }
        }
    
        &__experienciaLaboral{
            h2{
                text-align: center;
                font-size: 20px;
                padding: 0;
                width: auto;
            }
            h2::before{
                content: "";
                bottom: 8px;
                height: 7px;
            }
            ul{
                font-size: 15px;
                margin-left: 0;
                li{
                    text-align: center;
                    grid-template-areas: 
                    "trabajo"
                    "lugar"
                    "tiempo"
                    ;
                    margin-bottom: 20px;
                    .tiempoTrabajo{
                        font-size: 14px;
                        margin: 0 ;
                    }
                    .lugarTrabajo{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}